<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPuic_5No09fCMm_i7C-6mwSJvCRFTfws</string>
	<key>GCM_SENDER_ID</key>
	<string>830014007940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>finance-manager-app-de5c1</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-manager-app-de5c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830014007940:ios:007f666a85c9c7de7170d1</string>
</dict>
</plist>